.bg {
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

/* input[type=checkbox]:checked + label {
  text-decoration: line-through;
} /*This is */

.right {
  display: flex;
  justify-content: flex-end;
  align-items:center;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px black;
}

.card-clr {
  background-color: rgba(255, 255, 255, 0.356);
}

.footer {
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.empty-space {
  height: 50vh;
}

.quote {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px black;
  font-size: 20px;
}

.card-header {
  background-color: rgba(255, 255, 255, 0);
}

.card {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px black;
}